body{
    margin:0;
}
.bgimage{
    height: 700px;
    width: 100%;
    position: relative;
}

.maindiv{
    margin: 0 auto;
    color: whitesmoke;
    width: 50%;
    position: absolute;
    top: 20px;
    left: 150px;

}
.table{
    width: 50%;
    text-align: left;
    /* position: absolute;
    z-index: -1; */
}
